.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
