.popup__input-error_active {
  /* display: block;
  min-height: 30px; */
}

.popup__input-error {
  visibility: visible;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  /* position: absolute;
  top: 150px; */
  display: block;
  min-height: 28px;
  height: 100vh;
}

/* .popup__input-error:last-of-type {
  top: 220px;
} */
