.element {
  position: relative;
  border-radius: 10px;
  background-color: #ffffff;
  max-width: 282px;
}

@media screen and (max-width: 768px) {
  .element {
    margin: 0 auto;
    max-width: 282px;
  }
}
