.profile__job {
    max-width: 336px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0 9px;
    grid-column: 1 / 2;
}

@media screen and (max-width: 700px) {
    .profile__job{
        margin: 15px 0 0 81px;
        max-width: 190px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
}
}